.table-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.orderTable {
  overflow-x: scroll;
  // scrollbar-width: none;
}
.admin-table {
  width: calc(1110px - 30px);
  margin: 0 auto;
  border-collapse: collapse;
}

.admin-table {
  thead {
    tr {
      th {
        font-size: 16px;
        font-weight: 500;
        padding: 12px;
        text-align: left;
        border: 1px solid black;
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: 16px;
        font-weight: 500;
        padding: 8px;
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
      }
      td:nth-child(7) {
        padding: 0px;
      }
      td:last-child {
        padding: 0px;
      }
    }
  }
}
.deleteAllBtn {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 20px 0px;
  display: block;
  margin-left: auto;
}
.orderStatus {
  border: none;
  background-color: transparent;
  color: blue;
  font-size: 16px;
}
.orderStatus:hover {
  text-decoration: underline;
  cursor: pointer;
}
.deleteOneBtn {
  background-color: #c44021;
  color: #ffffff;
  border: none;
  font-size: 16px;
}
.deleteAllBtn:hover,
.deleteOneBtn:hover {
  cursor: pointer;
}
.deleteAllBtn:hover {
  background-color: #c44021;
  border: 2px solid rgb(255, 255, 255);
}
.deleteOneBtn:hover {
  color: black;
}

.chart-container {
  padding-top: 40px;
  padding-bottom: 15px;
  > .section-revenue {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
}

//無資料顯示設定
.no_found-container {
  padding-top: 30px;
  padding-bottom: 30px;
  > .no_found-section {
    h2 {
      margin: 15px 0px;
      text-align: center;
      font-size: 32px;
      font-weight: 900;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
